.Event {
    background-color: teal;
    margin: 0px 0px;
    padding: 20px;

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


.EventCategory {
    width: 200px;
    margin: 20px;
    img {
        display: block;
        width: 200px;
    }
    h3 {
        margin: 0px;
        background-color: white;
        padding: 5px 10px;
        color: black;
    }
}
}