body {
    background-color: white;
}

.App {
    //width: 1024px;
    min-width: 320px;
    max-width: 100%;
    border: solid 0px teal;
    padding: 0px;
    margin: auto;
    background-color: white;
}

@media screen and (min-width: 320px) {
    main {
        
    }

}

@media screen and (min-width: 480px) {
    main {
        background-color: rgb(64, 81, 180)
    }

}

@media screen and (min-width: 768px) {
    main {
       background-color: rgb(64, 81, 180)
    }

}